$primary-color: #F8BD1C;
$bgc-gray: #F4F4F4;
$text-base-color: #000;

$icon-size: 40px;
$icon-size-mini: 30px;

$comment-img-size-width: 17px;
$comment-img-size-height: 16px;

$container-padding: 16px;
