@import './variables';

.btn-wrap {
    position: fixed;
    width: 80%;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);

    &.min-btn {
        position: static;
        margin: 32px auto;
        left: 0;
        transform: unset;
        
    }
    

}

.btn-primary {
    background-color: $primary-color;
    border: none;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 16px 0;
    // display: block;
    font-weight: bold;
    font-size: 18px;
}


